<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>Landing</title>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  <!--custom js-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="style/style.css">
</head>

<body class="">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="index.html">Home</a> </li>
        </ul>
        <p class="d-none d-md-block lead mb-0  text-white"> <i class="fa d-inline fa-lg fa-stop-circle"></i> <b> BRAND</b> </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="ARaccount.html">AR Employee</a></li>
          <li class="nav-item"><a class="nav-link" href="account.html">Account</a></li>
          <li class="nav-item"><a class="nav-link" href="history.html">History</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="vueBinderDivRDB">
  <div class="d-flex align-items-center bg-info h-100" style="" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-white display-4 text-center">Account {{allInvoices[0].employeeId}}<br></h1>
            </div>
          </div>
          <p class="lead text-primary text-center">This account is about this company. It deals with this product and this service.&nbsp;<br></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-body" style="">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud text-primary mr-2"></i>Invoice ID : {{allInvoices[0].invoiceId}}</li>
                <li class="list-group-item"><i class="fa fa-bookmark text-primary mr-2"></i>&nbsp;Regulation ID:&nbsp; {{allInvoices[0].regulationId}}</li>
                <li class="list-group-item"><i class="fa fa-bell text-primary mr-2"></i>Employee ID: {{allInvoices[0].employeeId}}</li>
                <li class="list-group-item"><i class="fa fa-life-ring text-primary mr-2"></i>Client ID: {{allInvoices[0].clientId}}</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>ContractID: {{allInvoices[0].contractId}}</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>Date Added: {{allInvoices[0].dateAdded}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud text-primary mr-2"></i><span style="font-size: 1rem;">Product ID: {{allInvoices[0].billedProductId}}</span></li>
                <li class="list-group-item"><i class="fa fa-bookmark text-primary mr-2"></i>Product Description: {{allInvoices[0].billedProductDesc}}</li>
                <li class="list-group-item"><i class="fa fa-bell text-primary mr-2"></i>Product Cost: {{allInvoices[0].billedProductCost}}</li>
                <li class="list-group-item"><i class="fa fa-life-ring text-primary mr-2"></i>Quantity: {{allInvoices[0].billedProductQuantity}}</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>Product Line Total: {{allInvoices[0].billedProductLineTotal}}</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>Payment Term: {{allInvoices[0].paymentTerm}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-body">
          <div class="row"></div>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud text-primary mr-2"></i>Amount Due : {{allInvoices[0].amountDue}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-bookmark text-primary mr-2"></i>Address: {{allInvoices[0].billToAddress}}</li>
                <li class="list-group-item"><i class="fa fa-bell text-primary mr-2"></i>Phone: {{allInvoices[0].billToPhone}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-life-ring text-primary mr-2"></i>Email : {{allInvoices[0].billToEmail}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>Notes: {{allInvoices[0].notes}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud text-primary mr-2"></i><span style="font-size: 1rem;">Concession? : {{allInvoices[0].concessionBool}}&nbsp;</span></li>
                <li class="list-group-item"><i class="fa fa-bookmark text-primary mr-2"></i>Concession Amount : {{allInvoices[0].concessionValue}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-bell text-primary mr-2"></i>Total: {{allInvoices[0].Total}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-life-ring text-primary mr-2"></i>Paid : {{allInvoices[0].AmountPaid}}&nbsp;</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i>Due Date : {{allInvoices[0].paymentDueDate}}</li>
              </ul>
            </div>
          </div>
          <div class="row"></div>
          <br>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-primary btn-lg" href="history.html" target="_blank">Account History</a></div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
        <!-- <div id="vueBinderDivRDB"> -->
      <div class="row">
        <div class="mx-auto col-md-10 p-4">
          <h1 class="text-light">Account Update&nbsp;</h1>
          <!-- <p class="mb-4 lead text-light">Update the appropriate fields below and hit update to add something.&nbsp;</p> -->

          <p style="text-align: left;" class="mb-4 lead text-light">Enter the invoice number below:</p>
            <form @submit.prevent="fetchSpecificTransaction">
              <div class="form-row">
                <div class="form-group col-md-3"> <input type="text" class="form-control" id="invoiceToFetch"></div>
                <button type="submit" class="btn btn-primary" style="height: 38px;">Fetch Data</button>
              </div>
            </form>

            <br>

            <p style="text-align: left;" class="mb-4 lead text-light">Below are the details on the latest transaction in the chain</p>


          <form class="" @submit.prevent="addTransaction">
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="InvoiceID" v-model="specificTransaction.InvoiceID"></div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="RegulationID" v-model="specificTransaction.RegulationID"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="EmployeeID" v-model="specificTransaction.EmployeeID"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="ClientID" v-model="specificTransaction.ClientID"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="DateAdded" v-model="specificTransaction.DateAdded"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="AmountDue" v-model="specificTransaction.AmountDue"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BillToAddress" v-model="specificTransaction.BillToAddress"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BillToPhone" v-model="specificTransaction.BillToPhone"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BillToEmail" v-model="specificTransaction.BillToEmail"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BilledProductID" v-model="specificTransaction.BilledProductID"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BilledProductDesc" v-model="specificTransaction.BilledProductDesc"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BilledProductCost" v-model="specificTransaction.BilledProductCost"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BilledProductQuantity" v-model="specificTransaction.BilledProductQuantity"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="BilledProductLineTotal" v-model="specificTransaction.BilledProductLineTotal"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="ConcessionBool" v-model="specificTransaction.ConcessionBool"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="ConcessionValue" v-model="specificTransaction.ConcessionValue"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="Total" v-model="specificTransaction.Total"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="AmountPaid" v-model="specificTransaction.AmountPaid"> </div>
            </div>
            <div class="form-group"> <input type="text" class="form-control" id="PaymentDueDate" v-model="specificTransaction.PaymentDueDate"> </div>
            <div class="form-group"> <input type="text" class="form-control" id="ContractID" v-model="specificTransaction.ContractID"> </div>
            <div class="form-group"> <input type="text" class="form-control" id="Stage" v-model="specificTransaction.Stage"> </div>
            <div class="form-group"> <input type="text" class="form-control" id="BillToContactName" v-model="specificTransaction.BillToContactName"> </div>
            <div class="form-group"> <textarea class="form-control" id="Notes" rows="3" v-model="specificTransaction.Notes"></textarea> </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="bg-info p-4">
    <div class="container">
      <div class="row">
        <div class="p-0 col-lg-4 col-md-6">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x450&amp;sensor=false&amp;scale=2"> </div>
        <div class="col-md-5 align-self-center p-4 offset-md-1">
          <h4>Heading</h4>
          <p class="mb-4 text-primary">795 Folsom Ave, Suite 600 <br>San Francisco, CA 94107 <br> <abbr title="Phone">P:</abbr> (123) 456-7890 </p>
          <div class="row text-center">
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-facebook text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-twitter text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-instagram text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa text-primary fa-2x fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">Copyright - Lorem ipsum dolor sit amet</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">2018 - Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!--custom js-->
  <script type="text/javascript" src="js/all_data_fetcher.js"></script>

</body>

</html>
