<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>Landing</title>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white"> SAP </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="index.html">Home</a> </li>
        </ul>
        <p class="d-none d-md-block lead mb-0  text-white"> <b>SAP</b> </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="ARaccount.html">AR Employee</a></li>
          <li class="nav-item"><a class="nav-link" href="account.html">Account</a></li>
          <li class="nav-item" ><a class="nav-link" href="history.html">History</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="vueBinderDivRDB">

  <div class="h-50 d-flex align-items-center bg-info" style="">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-md-12">
          <br>
          <h1 class="text-white display-4">History<br></h1>
          <p class="lead text-primary">Transaction history for select invoice ID can be seen below<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">Invoice ID: 1211</h3>
        </div>
        <br><br><br>
      </div>
      <div class="row">
        <!--Table-->
        <table id="tablePreview" class="table">
          <!--Table head-->
          <thead>
            <tr>
              <th>Notes</th>
              <th>Stage</th>
              <th>AmountDue</th>
              <th>AmountPaid</th>
              <th>Total</th>
            </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody v-if="accountHistory">
                            <tr v-for="item in accountHistory">
                                <!-- <td v-on:click="fetchSpecificTurbinesData(item.siteId)">{{item.siteId}}</td> -->
                                <td>{{item.Notes}}</td>
                                <td>{{item.Stage}}</td>
                                <td>{{item.AmountDue}}</td>
                                <td>{{item.AmountPaid}}</td>
                                <td>{{item.Total}}</td>
                            </tr>
                        </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
      <a href="account.html"><button class="btn btn-primary" style="height: 38px;">Back</button></a>
    </div>
  </div>

  <h3 class="text-center">Predict Invoice Delay</h3>

  <div class="row">
    <div class="mx-auto col-md-10 p-4">
      <form class="" @submit.prevent="predictInvoiceDelay">
        <div class="form-row">
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="countryCode" placeholder="Country Code" value=406></div>
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="invoiceAmount" placeholder="Invoice Amount" value=61.74> </div>
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="disputed" placeholder="Disputed?" value=0> </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="daysToSettle" placeholder="Days To Settle (Last inv.)" value=32> </div>
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="availableDays" placeholder="Available Days" value=30> </div>
          <div class="form-group col-md-4"> <input type="number" class="form-control" id="paperless" placeholder="Paperless Bill?" value=1> </div>
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
      <br>
      <h3 class="text-center"><b>{{invoicePredictionText}}</b></h3>
    </div>
  </div>

  </div>

  <div class="bg-dark py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">Copyright - SAP Capstone Team</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">2019</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/all_data_fetcher.js"></script>
</body>

</html>
